{% extends 'base.html' %}

{% block title %}
Diabetes Prediction
{% endblock title %}


{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}


{% block body %}
<!-- nav bar -->

<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color: #f7ec52;">
    <a class="navbar-brand" href="/">Diabetes Prediction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Abhishek-Sengupta/MLOps-DiabetesPrediction">source code</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <!-- nav bar ends -->

    <div class="container-fluid masthead">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="POST">    <!--Submit button will send a POST request to the app-->
                        <!-- Input block-->
                        <div class="form-group">
                            <label for="translation">
                                <blockquote class="blockquote">
                                    <p class="mb-2">Enter the details as indicated:</p>
                                </blockquote>
                            </label>
                            <textarea class="form-control" name="Pregnancies" rows="1"
                                placeholder="No. of Pregnancies - expected range 0 to 17"></textarea>
                            <textarea class="form-control" name="Glucose" rows="1"
                                placeholder="Glucose - expected range 0 to 199"></textarea>
                            <textarea class="form-control" name="BloodPressure" rows="1"
                                placeholder="Blood Pressure - expected range 0 to 122"></textarea>
                            <textarea class="form-control" name="SkinThickness" rows="1"
                                placeholder="Skin Thickness - expected range 0 to 99"></textarea>
                            <textarea class="form-control" name="Insulin" rows="1" 
                                placeholder="Insulin - expected range 0 to 846"></textarea>
                            <textarea class="form-control" name="BMI" rows="1"
                                placeholder="BMI - expected range 0 to 67.1"></textarea>
                            <textarea class="form-control" name="DiabetesPedigreeFunction" rows="1" 
                                placeholder="Diabetes Pedigree Function - expected range 0.078 to 2.42"></textarea>
                            <textarea class="form-control" name="Age" rows="1" 
                                placeholder="Age - expected range 21 to 81"></textarea>

                        </div>

                        <!-- Select output language here. -->
                        <div class="form-group">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Predict</button></br>
                        </br>
                    </form>
                    <!-- Translated text returned by the Translate API is rendered here. -->
                </div>
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="translation-result">

                                <blockquote class="blockquote">
                                    <p class="mb-2">Prediction - 0: Negative, 1: Positive</p>
                                </blockquote>

                            </label>
                            <textarea readonly class="form-control" id="exTextarea" rows="4">{{ response }}</textarea>  <!--Output will be stored in the response section-->
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endblock body %}

        {% block custom_js %}
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='script/index.js') }}"></script>
        {% endblock custom_js %}